@model IEnumerable<E_commerce.Models.Prodotto>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<div class="text-center">
    <h1 class="display-4">memEShop</h1>
    <h2>Il tuo portale irriverente per i tuoi acquisti compulsivi!</h2>
</div>



<div class="container mt-4">
    <div class="row">
        @foreach (var prodotto in Model)
        {
            <div class="col-md-4 my-4">
                <div class="card mb-2 h-100">
                    <img class="card-img-top" src="@prodotto.ImmagineLink" alt="@prodotto.Nome">
                    <div class="card-body justify-content-around">
                        <h5 class="card-title">@prodotto.Nome</h5>
                        <a href="@Url.Action("Dettagli", "Home", new { id = prodotto.IDProdotto })" class="btn btn-primary">Dettagli</a>
                        <a href="@Url.Action("AddToCart", "Home", new { id = prodotto.IDProdotto })" class="btn btn-success">Aggiungi al Carrello</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
